
:root {
  --top: #d6f1ec;
  --bottom: #ffccc8;
  --dark: #262F34;
  --light: #fff;
  --grey: rgb(140, 140, 140);
  --space-s: 8px;
  --space-m: 16px;
  --bar-height: 56px;
}

/**/

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: var(--grey);
  background: var(--top);
}

h1, h2, h3 {
  font-family: 'Cookie', cursive;
  margin: 0;
  padding: 0;
}

#content-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 56px auto 56px;
  height: 100vh;
  width: 100vw;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  grid-row-gap: 1px;
}

#content {
  grid-row: 2;
}

tq-section-list tq-section:last-child {
  padding-bottom: calc(var(--bar-height) + 1px);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  #content {
    display: block;
  }
}